.contentsTitle {
    font-size: var(--medium3);
    color: var(--black500);
    font-weight: bold;
}

.subInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.contentsSubTitle {
    font-size: var(--small6);
    color: var(--grey500);
    margin-top: var(--small2);
}

.date {
    color: var(--grey500);
    font-size: var(--small6);
    font-weight: bold;
}
