.home {
    background-color: red;
}

.contentsWrapper {
    display: flex;
}

.contentsAside {
    width: 260px;
    height: 100vh;
    background-color: var(--grey300);
    padding-top: 39px;
    padding-left: 29px;
}

.logoTitle {
    font-size: var(--medium4);
    font-weight: bold;
    color: var(--cyan600);
    margin-bottom: 95px;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    font-size: var(--medium2);
    color: var(--grey700);
    font-weight: bold;
    margin-bottom: var(--medium4);
}

.contents {
    width: 100%;
    padding-left: var(--medium6);
    padding-right: var(--medium6);
    padding-top: var(--tlarge);
}

.contentsTitle {
    font-size: var(--medium3);
    color: var(--black500);
    font-weight: bold;
}

.subInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.contentsSubTitle {
    font-size: var(--small6);
    color: var(--grey500);
    margin-top: var(--small2);
}

.date {
    color: var(--grey500);
    font-size: var(--small6);
    font-weight: bold;
}
